/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none; border:none;
   text-transform: initial;
   transition: all .2s linear;
}

$yellow:#eacf4f;
$white:#fff;
$black:#000;
$light-color:#aaa;
$border:.2rem solid rgba(255,255,255,.3);

@mixin title-text($titleSize) {
   font-size: $titleSize;
   text-transform: capitalize;
   color:$white;
}

@mixin grap-text($grapSize) {
   font-size: $grapSize;
   line-height: 2;
   color:$light-color;
}

@mixin grid($val) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
   gap:2rem;
}

html{
   font-size: 62.5%;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
   

   &::-webkit-scrollbar{
      width: 1rem;
   }

   &::-webkit-scrollbar-track{
      background: $black;
   }

   &::-webkit-scrollbar-thumb{
      background: $yellow;
      border-radius: 5rem;
   }
}

body{
   background: url(../images/background.jpg);
   background-attachment: fixed;
   background-position: center;
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
   .fa-cart-shopping{
      font-size: 26px;
   }
   .fa-cart-shopping.top{
      margin-top: -8px;

   }
   .h-50{
      color: $yellow;
   }
   .activate{
      color: $yellow;
      font-size: 16px;
      margin: 0 10px;
   }
   .filtre{
    color: var(--dt-text-color);
    min-width: 800px;
    margin: 0 auto;
    font-size: 14px;
      option{
         color:#fff;
         background-color:#000;
      }
      .box{
         width: 15%;
         margin: 0;
      }
      label{
         margin-left: 3%;
      }
   }
   .filtre2{
      color: var(--dt-text-color);
      margin: 2rem;
      margin-left: 9%;      
      font-size: 14px;
        option{
           color:#fff;
           background-color:#000;
        }
        .box{
           width: 15%;
           margin: 0;
        }
        label{
           margin-left: 3%;
        }
   }

   .action{
      
         margin-top: 0px;
         margin-bottom: 0px;
   
   }
   .danger{
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      height: 63px;
      font-size: 16px;
      text-align: center;
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .successs{
      @extend .danger;
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
   }
   .panier{
      font-size: 15px;
      padding-top: 7px;
      padding-left: 10px;
   }
   .container{
      .btn{
         margin-bottom: 5px;
      }
      .prix{
         font-size: 18px;
         font-weight: bold;
      }
      .type{
         text-align: end;
         font-size: 12px;
      }
      .total{
         color:$yellow;
      }
      .resume{
         height: 30vh;
      }
      .border-radius{
         background-color:$black;
         color: $white;
      }
      hr{
         background:$white ;
      }
      .btnValide{
      //   margin-top: 10%;
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        color:$white;
        border:$border;
        background: no-repeat;
        font-size: 1.7rem;
        // padding: 5px 25px;
        padding: 4px 10px;
        margin-bottom: 2rem;
     
        &:hover{
           color:$black;
           background: $yellow;
        }
      }
      .border-radius{
         border-radius:5px;
         /* background-color:#000;
         color:white */
      }
   }

   #compteur{
      display: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #000;
      border: 0.2rem solid rgba(255, 255, 255, 0.3);
      background: #eacf4f;
      height: 24px;
      position: relative;
      bottom: 45px;
      text-decoration: none;
      width: 24px;
      border-radius: 50%;
      font-size: 13px;
      top: -39px;
      right: -15px;
   }  

   .fa-circle-left{
      margin-left: -16px;
   }
   #message{
      transition: 2s ease;
   }
   .validation{
      background-color: black;
      z-index: 1000;
      position: fixed;
      display: none;
      left: 0;
      top: 71px;
      right: 0;
      bottom: 0;
      animation-name: modalOpen;
      animation-duration: 1s;
      border-radius: 10px;
      width: 500px;
      height: 160px;
      margin-left: auto;
      margin-right: auto;
         &.show-modal{
         display: block;
               /* &::before{
                  content:'';
                  background:rgba(0, 0, 0, 0.8);
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
               } */
      }

      h3{
         font-size: 16px;
         text-transform: initial;
         color: #fff;
         padding: 10px;
         text-align: center;
         margin-top: 30px;
      }
      .validation-button{
          display: flex;
         justify-content: space-evenly;
         padding: 0;
         margin-top: 20px;
      }
   }
   .validation2{
      @extend .validation;
      display: block;
      width:343px;
      height:105px;
   }
   .itemExist{
      @extend .validation;
      transform: translate(23vw, 40vh);
      width: 50%;
      height: 17vh;
      h3{
         margin-top: 10px;
      }
      .validation-button {
         margin-top: 1px;
      }
   }
   .form-container{  
     
   
      #divPrix{
         display: none;
      }

      #ajoutMenu{
         display: none;
      }
   }
   .alert{
      height: 40px;
      font-size: 16px;
      text-align: center;
      margin-bottom: 22px
   }
   .h4{
      color: #fff;
      margin-bottom: 18px;
      font-size: 13px;
      margin-left: 30px;
      display: block;
      text-align: center;
   }
   .h3{
      color: #fff;
      margin-top: 17px;
      position: absolute;
      right: 4rem;
   }
   .form-login{
      z-index: 100;
      background-color: #000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      width: 100%;
      border-radius: 15px;
      position: absolute;
      overflow: hidden;
      top: 24%;
      left: 50%;
      width: 600px;
      max-width: 100%;
      transform: translate(-50%);
      padding: 15px 25px;
      animation-name: modalOpen;
      animation-duration: 2s;   
      box-shadow: #eacf4f 0px 0px 13px 0px;
        div{
            text-align: left;
            margin-bottom: 5px;
               label{
                  color:$yellow;
                  font-size: 15px;
               }
         } 
        .box{
            padding:1.2rem 1.4rem;
            font-size: 1.6rem;
            color:$white;
            background: none;
            border:$border;
            text-transform: none;
            width: 100%;
            margin:.7rem 0;
               &:focus{
                  border-color: $yellow;
               }
         }
         textarea{
            height: 15rem;
            resize: none;
         }
         .d-block{
            color: $yellow;
            font-size: 12px;
            float: right;
            margin-bottom: 7px;
            &:hover{
               text-decoration: underline
            }
         }
         
   }
   .form-signin , .form-add-menu{
      @extend .form-login;
      top: 16%;

   }
  
   
   .login-button {
      z-index: 100;
      font-size: 13px;
      position: fixed;
      top: 0.9rem;
      right: 17rem;
      cursor: pointer;
      text-decoration: none;
      letter-spacing: 2px;
      color: #fff;
      border: 2px solid #fff;
      padding: 7px 13px;
      overflow: hidden;
      transition: color 0.5s; 

      &:hover{
          color: #000;
          background-color:#ffc107;
          border-radius: 5px;
          font-weight: bold;
          border: 2px solid #ffc107;

      }        
     
  }

  .singin-butto {
      @extend .login-button;
      right: 6rem;
  }
   .control{
      .errorImg{
         border:2px solid red ;
      }
      #errorImage, #errorBurger{
         display: none;
         color: red;
         font-size: 13px;

      }
      #errorComplement{
         display: block;
         color: red;
         font-size: 13px;
      }
      #errorImg{
         display: block;
         color: red;
         font-size: 13px;
         margin-top: -11px;
      }
      .error{
         margin-bottom: 10px;
         input {
            border:2px solid red ;
         }
      }
      .success{
         margin-bottom: 10px;
         input {
            border:2px solid green ;
         }
      }
      small{
         display: none;
      }
      &.error{
         margin-bottom: 10px;
      }
      &.success input {
         border:2px solid green ;
      }

      &.error input {
         border:2px solid red ;
      }
      &.success select {
         border:2px solid green ;
      }

      &.error select {
         border:2px solid red !important;
      }
      &.error small{
         display: block;
         color: red;
         font-size: 13px;
      }

      /* .checked{
         @extend .box ;
         &.error{
            border: 2px solid red;
         }
         &.success{
            border: 2px solid green;
         }
      }
      .errorChecking{
         display: block;
         color: red;
         font-size: 13px;
      } */

      option{
         color:#000;
      }     
   }
   .control2{
      @extend .control
   }
  


}

section{
   padding:3rem 9%;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
      .btn-shine{
         font-size: 27px;
         background: linear-gradient(90deg, #000, #fff, #000);
         letter-spacing: 5px;
         -webkit-background-clip: text;
         background-clip: text;
         -webkit-text-fill-color: transparent;
         background-repeat: no-repeat;
         background-size: 80%;
         animation: shine 5s linear infinite;
         text-align: center;
         margin-bottom: 2rem;
         font-size: 6rem;
         font-style: italic;
         letter-spacing: 5px;
      }
}

.btn{
   display: inline-block;
   margin-top: 10px;
   cursor: pointer;
   color:$white;
   border:$border;
   background: no-repeat;
   font-size: 1.7rem;
   // padding: 5px 25px;
   padding: 4px 10px;
   margin-bottom: 2rem;

   &:hover{
      color:$black;
      background: $yellow;
   }
   
}
.btnGest{
   @extend .btn;
   &:hover{
      background: green;
   color:white;
   }
}
.btnGest2{
   @extend .btn;
   &:hover{
      background: $yellow;
   color:$black;
   }
}

.btnGest3{
   @extend .btn;
   &:hover{
      color:#fff;
      background: red;
   }
}


.header{
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
   background: $black;
   padding:3rem 9%;
   display: flex;
   align-items: center;
   
   gap:1rem;
   box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
   transition: 1s ease;
   height: 70px;
   
   .icons{
      font-size: 1.5rem;
      cursor: pointer;
      color:$white;

      &:hover{
         color:$yellow;
      }

      .loginButton{
        z-index: 100;
        font-size: 13px;
        margin-right: 7px;
        cursor: pointer;
        text-decoration: none;
        letter-spacing: 2px;
        border: 2px solid #fff;
        transition: color 1s; 

       
        margin-top: 10px;
        color:$white;
        border:$border;
        background: no-repeat;
        font-size: 1.7rem;
        padding: 5px 25px;
     
        &:hover{
           color:$black;
           background: $yellow;
        }






        /* &:hover{
            color: #000;
            background-color:$yellow;
            border-radius: 5px;
            font-weight: bold;
            border: 2px solid $yellow;

        }    */     
      }
      .singinButton{
        @extend .loginButton;
       
      }
   }
   #menu-btn{
      display: none;
   }

   .navbar{
        position: absolute;
        right: 0;
        .nav-links{
         color: #fff;
         font-size: 16px;
         margin: 5px 10px;

         &:hover{
            text-decoration: underline;
            text-underline-offset: 1rem;
            color:$yellow;
        }
          &.panierLink{
         margin: 5px 18px;

          }
      }

      
   }

   .logo{
        position: absolute;
        top:20px; 
        transform: translateX(0);
        left:3rem;
     
      img{
         width: 15rem;
      }
   }

   .search-form{
      height: 7rem;
      padding:0 2rem;
      border-top: $border;
      display: flex;
      align-items: center;
      background: $black;
      position: absolute;
      top:99%; left:0; right:0;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active{
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      input{
         width: 100%;
         background: none;
         text-transform: none;
         font-size: 1.6rem;
         color:$white;
      }
   }

   .fa-times{
      transform: rotate(180deg);
   }
}

.home{
   margin-top: 0;
   background: url(../images/home-bg.png) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   .content{
      max-width: 100vw;
      margin:0 ;
      display: flex;
      justify-content: center;
      align-items:center;
      .bienvenue{
         display: block;
      }
      .img-bienvenue{
         right: 8rem;
         display: flex;
         justify-content: end;
      }
      img{
         width: 70%;
      }

      h3{
         @include title-text(4rem);
            letter-spacing: 5px;
            // white-space: nowrap;
            font-weight: bold;
            -webkit-animation: glow 2s ease-in-out infinite alternate;
            -moz-animation: glow 2s ease-in-out infinite alternate;
            animation: glow 2s ease-in-out infinite alternate;
      }

      p{
         @include grap-text(1.7rem);
         padding:2rem 0;
      }
   }
}

.service{
   @include grid(31rem);
   

   .box{
      text-align: center;
      padding:2rem;

      i{
         height: 7rem;
         width: 7rem;
         line-height: 7rem;
         font-size: 2.5rem;
         color:$black;
         background: $yellow;
         margin-bottom: 1rem;
         border-radius: 50%;
      }

      h3{
         padding:1rem 0;
         @include title-text(2rem);
      }

      p{
         @include grap-text(1.5rem);
      }
   }
}

.menu{

   .box-container{
      @include grid(31rem);
      
      .box{
         text-align: center;
         /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         background-color: #000;
         border-radius: 10px; */

         &:hover img{
            transform: translateY(1rem);
         }

         img{
            height: 10rem;
            cursor: pointer;
            &:hover{
                transform: scale(1.5);
            }
         }

         .content{
            padding:1rem 0;
            
            .stars{
               margin-bottom: 2rem;

               i{
                  font-size: 1.7rem;
                  color:$yellow;
               }
            }

            h3{
               @include title-text(2rem);
            }

            .price{
               @include grap-text(2rem);
            }
         }
      }
   }
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:3rem;

   .image{
      flex:1 1 40rem;

      img{
         width: 100%;
      }
   }
   .img-details:hover{
      cursor: zoom-in;
      transform: scale(1.3);
   }

   .content{
      flex:1 1 40rem;
      .name{
         color:$yellow
      }
      .title{
         @include title-text(2.5rem);
         text-align: center
      }

      p{
         @include grap-text(1.5rem);
         padding:2rem 0;
      }
      h1{
         font-size: 7rem;
         color: $yellow;
         text-align: center;
         padding: 20px 0;
      }
      .icons{
         display: flex;
         flex-wrap: wrap;
         gap:1.5rem;
         margin-bottom: 2rem;
         margin-top: 1rem;
            
         h3{
            flex:1 1 16rem;
            @include title-text(1.5rem);

            i{
               padding-right: .5rem;
               color:$yellow;
            }
         
        }
      }
   }
}

.reviews{

   .box-container{
      @include grid(31rem);

      .box{
         text-align: center;
         padding:2rem;

         img{
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            margin-bottom: 1rem;
         }

         h3{
            @include title-text(2rem);
         }

         p{
            @include grap-text(1.4rem);
            padding:1rem 0;
         }

         .stars{
            padding-top: .5rem;

            i{
               font-size: 1.7rem;
               color:$yellow;
            }
         }
      }
   }
}

.contact{
   padding: 0;
   .row{
      display: flex;
      flex-wrap: wrap;
      gap:3rem;

      .map{
         /* flex:1 1 40rem;
         width: 100%; */
            width: 100%;
            height: 550px;
        
      }

      .form{
         flex:1 1 40rem;

         .icons-container{
            display: flex;
            flex-wrap: wrap;
            gap:2rem;
            margin-bottom: 3rem;

            .icons{
               flex:1 1 17rem;
               text-align: center;
               
               i{
                  height: 6rem;
                  width: 6rem;
                  line-height: 6rem;
                  border-radius: 50%;
                  background: $yellow;
                  color:$black;
                  font-size: 2rem;
                  margin-bottom: 1rem;
               }

               h3{
                  padding:1rem 0;
                  @include title-text(2rem);
               }

               p{
                  @include grap-text(1.5rem);
               }
            }
         }

         
      }
   }
}

.blogs{

   .box-container{
      @include grid(31rem);

      .box{
         position: relative;

         &:hover .image{
            img{
               transform: scale(1.1);
            }
            .icons{
               transform: translateY(0);
            }
         }

         .image{
            height: 25rem;
            overflow:hidden;
            position: relative;

            .icons{
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding:2rem;
               background: $black;
               position: absolute;
               bottom:0; left:0; right:0;
               z-index: 10;
               transform: translateY(10rem);

               a{
                  font-size: 1.5rem;
                  color:$white;

                  i{
                     padding-right: .5rem;
                     color:$yellow;
                  }

                  &:hover{
                     color:$yellow;
                  }
               }
            }

            img{
               height: 100%;
               width: 100%;
               object-fit: cover;
            }
         }

         .content{
            text-align: center;
            padding:2rem;

            h3{
               @include title-text(2rem);
            }

            p{
               @include grap-text(1.5rem);
               padding:1.5rem 0;
            }
         }
      }
   }
}

.footer{
   text-align: center;
   background: linear-gradient(transparent, $black);

   .links{
      a{
         display: flex;
         justify-content: center;
         align-items:center;
         cursor: pointer;
         color: #000;
         border: 0.2rem solid rgba(255, 255, 255, 0.3);
         background:$yellow;
         height: 30px;
         position: fixed;
         bottom: 5rem;
         text-decoration: none;
         right: 10px;
         width: 30px;

         i{
            font-size: 2rem;
         }
      }
   }

   .credit{
      @include grap-text(2rem);
      padding-top: 2rem;

      span{
         color:$yellow;
      }
   }
}












// media queries 

@media (max-width:1200px){

   .header{
      padding:3rem;
   }

   section{
      padding:3rem 2rem;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .header{
      justify-content: flex-end;
      gap:2rem;

      #menu-btn{
         display: inline-block;
         font-size: 25px;
          margin-top: -8px;
      }

      .navbar{
         position: absolute;
         top:99%; left:0; right:0;
         background: $black;
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         transition: 1s ease;
         
         &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
         }

         a{
            display: block;
            margin:3rem 2rem;
         }

         .space{
            display: none;
         }
      }
   }
}

@media (max-width:768px){
   .home .content h3{
      font-size: 2.5rem;
      // font-size: 4.5rem;
   }
   body{

      .form-container{
         height: 112vh;
      }
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}
@keyframes modalOpen{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}


@keyframes shine {
   0% {
     background-position-x: -500%;
   }
   100% {
     background-position-x: 500%;
   }
 }
 @keyframes modalOpen{
   from{
       opacity:0;
   }
   to{
       opacity: 1;
   }
}
@keyframes glow {
   from {
       color: #fff;
       text-shadow: 0 0 10px #ffc107, 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 40px #ffc107, 0 0 50px #ffc107, 0 0 60px #ffc107, 0 0 70px #ffc107, 0 0 90px #ffc107;
   }

   to {
       color: gray;
       text-shadow: 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 40px #ffc107, 0 0 50px #ffc107, 0 0 60px #ffc107, 0 0 70px #ffc107, 0 0 80px #ffc107, 0 1 90px #ffc107;
   }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
   background-color:$yellow;
   color: #000;
 }
 .select2-container--open .select2-dropdown--below {
   border-top: none;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   background: #000;
   border-color: #000;
   color: #fff;
   font-size: 14px;
   padding: 5px;
 
 }
 
 .select2-container--default .select2-search--dropdown .select2-search__field {
   border: 1px solid rgba(255, 255, 255, 0.3);
   background: #000;
 }
 
 .select2-container--default .select2-selection--single .select2-selection__rendered {
  
 }
 .select2-container--default .select2-selection--single .select2-selection__rendered {
   color: #fff;
   line-height: 28px;
}
 .select2-container--default .select2-selection--single {
   background-color: transparent;
   border: 1px solid #aaa;
 }
 
 .select2-hidden-accessible {
   @extend .box;
 }
 .select2-container--default .select2-selection--single {
   font-size: 1.6rem;
    color: #fff;
    background: none;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    text-transform: none;
    height: 49px;
    margin-top: 0px;
    border-radius: 0;
    display: flex;
    align-items: center;
 }

.select2 .select2-container .select2-container--default{
    width: 100%;
 }

 
 .paiement{
   z-index: 100;
   background-color: #000;
   // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   height: 75vh;
   position: relative;
   overflow: hidden;
   top: 15%;
   left: 50%;
   transform: translate(-50%);
   padding: 15px 25px;
   animation-name: modalOpen;
   animation-duration: 2s;   
   box-shadow: #eacf4f 0px 0px 13px 0px;
   overflow-y: auto;
   max-width: 1000px;
   border-radius:10px;
 }