/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* line 5, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: initial;
  transition: all .2s linear;
}

/* line 44, ../sass/screen.scss */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
/* line 50, ../sass/screen.scss */
html::-webkit-scrollbar {
  width: 1rem;
}
/* line 54, ../sass/screen.scss */
html::-webkit-scrollbar-track {
  background: #000;
}
/* line 58, ../sass/screen.scss */
html::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 5rem;
}

/* line 64, ../sass/screen.scss */
body {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
/* line 70, ../sass/screen.scss */
body .fa-cart-shopping {
  font-size: 26px;
}
/* line 73, ../sass/screen.scss */
body .fa-cart-shopping.top {
  margin-top: -8px;
}
/* line 77, ../sass/screen.scss */
body .h-50 {
  color: #eacf4f;
}
/* line 80, ../sass/screen.scss */
body .activate {
  color: #eacf4f;
  font-size: 16px;
  margin: 0 10px;
}
/* line 85, ../sass/screen.scss */
body .filtre {
  color: var(--dt-text-color);
  min-width: 800px;
  margin: 0 auto;
  font-size: 14px;
}
/* line 90, ../sass/screen.scss */
body .filtre option {
  color: #fff;
  background-color: #000;
}
/* line 94, ../sass/screen.scss */
body .filtre .box, body .filtre .select2-hidden-accessible {
  width: 15%;
  margin: 0;
}
/* line 98, ../sass/screen.scss */
body .filtre label {
  margin-left: 3%;
}
/* line 102, ../sass/screen.scss */
body .filtre2 {
  color: var(--dt-text-color);
  margin: 2rem;
  margin-left: 9%;
  font-size: 14px;
}
/* line 107, ../sass/screen.scss */
body .filtre2 option {
  color: #fff;
  background-color: #000;
}
/* line 111, ../sass/screen.scss */
body .filtre2 .box, body .filtre2 .select2-hidden-accessible {
  width: 15%;
  margin: 0;
}
/* line 115, ../sass/screen.scss */
body .filtre2 label {
  margin-left: 3%;
}
/* line 120, ../sass/screen.scss */
body .action {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 126, ../sass/screen.scss */
body .danger, body .successs {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  height: 63px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 138, ../sass/screen.scss */
body .successs {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
/* line 144, ../sass/screen.scss */
body .panier {
  font-size: 15px;
  padding-top: 7px;
  padding-left: 10px;
}
/* line 150, ../sass/screen.scss */
body .container .btn, body .container .btnGest, body .container .btnGest2, body .container .btnGest3 {
  margin-bottom: 5px;
}
/* line 153, ../sass/screen.scss */
body .container .prix {
  font-size: 18px;
  font-weight: bold;
}
/* line 157, ../sass/screen.scss */
body .container .type {
  text-align: end;
  font-size: 12px;
}
/* line 161, ../sass/screen.scss */
body .container .total {
  color: #eacf4f;
}
/* line 164, ../sass/screen.scss */
body .container .resume {
  height: 30vh;
}
/* line 167, ../sass/screen.scss */
body .container .border-radius {
  background-color: #000;
  color: #fff;
}
/* line 171, ../sass/screen.scss */
body .container hr {
  background: #fff;
}
/* line 174, ../sass/screen.scss */
body .container .btnValide {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: no-repeat;
  font-size: 1.7rem;
  padding: 4px 10px;
  margin-bottom: 2rem;
}
/* line 187, ../sass/screen.scss */
body .container .btnValide:hover {
  color: #000;
  background: #eacf4f;
}
/* line 192, ../sass/screen.scss */
body .container .border-radius {
  border-radius: 5px;
  /* background-color:#000;
  color:white */
}
/* line 199, ../sass/screen.scss */
body #compteur {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: #eacf4f;
  height: 24px;
  position: relative;
  bottom: 45px;
  text-decoration: none;
  width: 24px;
  border-radius: 50%;
  font-size: 13px;
  top: -39px;
  right: -15px;
}
/* line 218, ../sass/screen.scss */
body .fa-circle-left {
  margin-left: -16px;
}
/* line 221, ../sass/screen.scss */
body #message {
  transition: 2s ease;
}
/* line 224, ../sass/screen.scss */
body .validation, body .validation2, body .itemExist {
  background-color: black;
  z-index: 1000;
  position: fixed;
  display: none;
  left: 0;
  top: 71px;
  right: 0;
  bottom: 0;
  animation-name: modalOpen;
  animation-duration: 1s;
  border-radius: 10px;
  width: 500px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}
/* line 240, ../sass/screen.scss */
body .validation.show-modal, body .show-modal.validation2, body .show-modal.itemExist {
  display: block;
  /* &::before{
     content:'';
     background:rgba(0, 0, 0, 0.8);
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
  } */
}
/* line 253, ../sass/screen.scss */
body .validation h3, body .validation2 h3, body .itemExist h3 {
  font-size: 16px;
  text-transform: initial;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}
/* line 261, ../sass/screen.scss */
body .validation .validation-button, body .validation2 .validation-button, body .itemExist .validation-button {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 20px;
}
/* line 268, ../sass/screen.scss */
body .validation2 {
  display: block;
  width: 343px;
  height: 105px;
}
/* line 274, ../sass/screen.scss */
body .itemExist {
  transform: translate(23vw, 40vh);
  width: 50%;
  height: 17vh;
}
/* line 279, ../sass/screen.scss */
body .itemExist h3 {
  margin-top: 10px;
}
/* line 282, ../sass/screen.scss */
body .itemExist .validation-button {
  margin-top: 1px;
}
/* line 289, ../sass/screen.scss */
body .form-container #divPrix {
  display: none;
}
/* line 293, ../sass/screen.scss */
body .form-container #ajoutMenu {
  display: none;
}
/* line 297, ../sass/screen.scss */
body .alert {
  height: 40px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 22px;
}
/* line 303, ../sass/screen.scss */
body .h4 {
  color: #fff;
  margin-bottom: 18px;
  font-size: 13px;
  margin-left: 30px;
  display: block;
  text-align: center;
}
/* line 311, ../sass/screen.scss */
body .h3 {
  color: #fff;
  margin-top: 17px;
  position: absolute;
  right: 4rem;
}
/* line 317, ../sass/screen.scss */
body .form-login, body .form-signin, body .form-add-menu {
  z-index: 100;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  top: 24%;
  left: 50%;
  width: 600px;
  max-width: 100%;
  transform: translate(-50%);
  padding: 15px 25px;
  animation-name: modalOpen;
  animation-duration: 2s;
  box-shadow: #eacf4f 0px 0px 13px 0px;
}
/* line 335, ../sass/screen.scss */
body .form-login div, body .form-signin div, body .form-add-menu div {
  text-align: left;
  margin-bottom: 5px;
}
/* line 338, ../sass/screen.scss */
body .form-login div label, body .form-signin div label, body .form-add-menu div label {
  color: #eacf4f;
  font-size: 15px;
}
/* line 343, ../sass/screen.scss */
body .form-login .box, body .form-signin .box, body .form-add-menu .box, body .form-login .select2-hidden-accessible, body .form-signin .select2-hidden-accessible, body .form-add-menu .select2-hidden-accessible {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #fff;
  background: none;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  width: 100%;
  margin: .7rem 0;
}
/* line 352, ../sass/screen.scss */
body .form-login .box:focus, body .form-signin .box:focus, body .form-add-menu .box:focus, body .form-login .select2-hidden-accessible:focus, body .form-signin .select2-hidden-accessible:focus, body .form-add-menu .select2-hidden-accessible:focus {
  border-color: #eacf4f;
}
/* line 356, ../sass/screen.scss */
body .form-login textarea, body .form-signin textarea, body .form-add-menu textarea {
  height: 15rem;
  resize: none;
}
/* line 360, ../sass/screen.scss */
body .form-login .d-block, body .form-signin .d-block, body .form-add-menu .d-block {
  color: #eacf4f;
  font-size: 12px;
  float: right;
  margin-bottom: 7px;
}
/* line 365, ../sass/screen.scss */
body .form-login .d-block:hover, body .form-signin .d-block:hover, body .form-add-menu .d-block:hover {
  text-decoration: underline;
}
/* line 371, ../sass/screen.scss */
body .form-signin, body .form-add-menu {
  top: 16%;
}
/* line 378, ../sass/screen.scss */
body .login-button, body .singin-butto {
  z-index: 100;
  font-size: 13px;
  position: fixed;
  top: 0.9rem;
  right: 17rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  border: 2px solid #fff;
  padding: 7px 13px;
  overflow: hidden;
  transition: color 0.5s;
}
/* line 393, ../sass/screen.scss */
body .login-button:hover, body .singin-butto:hover {
  color: #000;
  background-color: #ffc107;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #ffc107;
}
/* line 404, ../sass/screen.scss */
body .singin-butto {
  right: 6rem;
}
/* line 408, ../sass/screen.scss */
body .control, body .control2 {
  /* .checked{
     @extend .box ;
     &.error{
        border: 2px solid red;
     }
     &.success{
        border: 2px solid green;
     }
  }
  .errorChecking{
     display: block;
     color: red;
     font-size: 13px;
  } */
}
/* line 409, ../sass/screen.scss */
body .control .errorImg, body .control2 .errorImg {
  border: 2px solid red;
}
/* line 412, ../sass/screen.scss */
body .control #errorImage, body .control2 #errorImage, body .control #errorBurger, body .control2 #errorBurger {
  display: none;
  color: red;
  font-size: 13px;
}
/* line 418, ../sass/screen.scss */
body .control #errorComplement, body .control2 #errorComplement {
  display: block;
  color: red;
  font-size: 13px;
}
/* line 423, ../sass/screen.scss */
body .control #errorImg, body .control2 #errorImg {
  display: block;
  color: red;
  font-size: 13px;
  margin-top: -11px;
}
/* line 429, ../sass/screen.scss */
body .control .error, body .control2 .error {
  margin-bottom: 10px;
}
/* line 431, ../sass/screen.scss */
body .control .error input, body .control2 .error input {
  border: 2px solid red;
}
/* line 435, ../sass/screen.scss */
body .control .success, body .control2 .success {
  margin-bottom: 10px;
}
/* line 437, ../sass/screen.scss */
body .control .success input, body .control2 .success input {
  border: 2px solid green;
}
/* line 441, ../sass/screen.scss */
body .control small, body .control2 small {
  display: none;
}
/* line 444, ../sass/screen.scss */
body .control.error, body .error.control2 {
  margin-bottom: 10px;
}
/* line 447, ../sass/screen.scss */
body .control.success input, body .success.control2 input {
  border: 2px solid green;
}
/* line 451, ../sass/screen.scss */
body .control.error input, body .error.control2 input {
  border: 2px solid red;
}
/* line 454, ../sass/screen.scss */
body .control.success select, body .success.control2 select {
  border: 2px solid green;
}
/* line 458, ../sass/screen.scss */
body .control.error select, body .error.control2 select {
  border: 2px solid red !important;
}
/* line 461, ../sass/screen.scss */
body .control.error small, body .error.control2 small {
  display: block;
  color: red;
  font-size: 13px;
}
/* line 482, ../sass/screen.scss */
body .control option, body .control2 option {
  color: #000;
}

/* line 494, ../sass/screen.scss */
section {
  padding: 3rem 9%;
}

/* line 498, ../sass/screen.scss */
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
/* line 501, ../sass/screen.scss */
.heading .btn-shine {
  font-size: 27px;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 6rem;
  font-style: italic;
  letter-spacing: 5px;
}

/* line 519, ../sass/screen.scss */
.btn, .btnGest, .btnGest2, .btnGest3 {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: no-repeat;
  font-size: 1.7rem;
  padding: 4px 10px;
  margin-bottom: 2rem;
}
/* line 531, ../sass/screen.scss */
.btn:hover, .btnGest:hover, .btnGest2:hover, .btnGest3:hover {
  color: #000;
  background: #eacf4f;
}

/* line 539, ../sass/screen.scss */
.btnGest:hover {
  background: green;
  color: white;
}

/* line 546, ../sass/screen.scss */
.btnGest2:hover {
  background: #eacf4f;
  color: #000;
}

/* line 554, ../sass/screen.scss */
.btnGest3:hover {
  color: #fff;
  background: red;
}

/* line 561, ../sass/screen.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
  transition: 1s ease;
  height: 70px;
}
/* line 575, ../sass/screen.scss */
.header .icons {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}
/* line 580, ../sass/screen.scss */
.header .icons:hover {
  color: #eacf4f;
}
/* line 584, ../sass/screen.scss */
.header .icons .loginButton, .header .icons .singinButton {
  z-index: 100;
  font-size: 13px;
  margin-right: 7px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  border: 2px solid #fff;
  transition: color 1s;
  margin-top: 10px;
  color: #fff;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: no-repeat;
  font-size: 1.7rem;
  padding: 5px 25px;
        /* &:hover{
            color: #000;
            background-color:$yellow;
            border-radius: 5px;
            font-weight: bold;
            border: 2px solid $yellow;

        }    */
}
/* line 602, ../sass/screen.scss */
.header .icons .loginButton:hover, .header .icons .singinButton:hover {
  color: #000;
  background: #eacf4f;
}
/* line 626, ../sass/screen.scss */
.header #menu-btn {
  display: none;
}
/* line 630, ../sass/screen.scss */
.header .navbar {
  position: absolute;
  right: 0;
}
/* line 633, ../sass/screen.scss */
.header .navbar .nav-links {
  color: #fff;
  font-size: 16px;
  margin: 5px 10px;
}
/* line 638, ../sass/screen.scss */
.header .navbar .nav-links:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #eacf4f;
}
/* line 643, ../sass/screen.scss */
.header .navbar .nav-links.panierLink {
  margin: 5px 18px;
}
/* line 652, ../sass/screen.scss */
.header .logo {
  position: absolute;
  top: 20px;
  transform: translateX(0);
  left: 3rem;
}
/* line 658, ../sass/screen.scss */
.header .logo img {
  width: 15rem;
}
/* line 663, ../sass/screen.scss */
.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
/* line 674, ../sass/screen.scss */
.header .search-form.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* line 678, ../sass/screen.scss */
.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #fff;
}
/* line 687, ../sass/screen.scss */
.header .fa-times {
  transform: rotate(180deg);
}

/* line 692, ../sass/screen.scss */
.home {
  margin-top: 0;
  background: url(../images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
/* line 698, ../sass/screen.scss */
.home .content {
  max-width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 704, ../sass/screen.scss */
.home .content .bienvenue {
  display: block;
}
/* line 707, ../sass/screen.scss */
.home .content .img-bienvenue {
  right: 8rem;
  display: flex;
  justify-content: end;
}
/* line 712, ../sass/screen.scss */
.home .content img {
  width: 70%;
}
/* line 716, ../sass/screen.scss */
.home .content h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 5px;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
/* line 726, ../sass/screen.scss */
.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}

/* line 733, ../sass/screen.scss */
.service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
/* line 737, ../sass/screen.scss */
.service .box, .service .select2-hidden-accessible {
  text-align: center;
  padding: 2rem;
}
/* line 741, ../sass/screen.scss */
.service .box i, .service .select2-hidden-accessible i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 2.5rem;
  color: #000;
  background: #eacf4f;
  margin-bottom: 1rem;
  border-radius: 50%;
}
/* line 752, ../sass/screen.scss */
.service .box h3, .service .select2-hidden-accessible h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}
/* line 757, ../sass/screen.scss */
.service .box p, .service .select2-hidden-accessible p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

/* line 765, ../sass/screen.scss */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
/* line 768, ../sass/screen.scss */
.menu .box-container .box, .menu .box-container .select2-hidden-accessible {
  text-align: center;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #000;
  border-radius: 10px; */
}
/* line 774, ../sass/screen.scss */
.menu .box-container .box:hover img, .menu .box-container .select2-hidden-accessible:hover img {
  transform: translateY(1rem);
}
/* line 778, ../sass/screen.scss */
.menu .box-container .box img, .menu .box-container .select2-hidden-accessible img {
  height: 10rem;
  cursor: pointer;
}
/* line 781, ../sass/screen.scss */
.menu .box-container .box img:hover, .menu .box-container .select2-hidden-accessible img:hover {
  transform: scale(1.5);
}
/* line 786, ../sass/screen.scss */
.menu .box-container .box .content, .menu .box-container .select2-hidden-accessible .content {
  padding: 1rem 0;
}
/* line 789, ../sass/screen.scss */
.menu .box-container .box .content .stars, .menu .box-container .select2-hidden-accessible .content .stars {
  margin-bottom: 2rem;
}
/* line 792, ../sass/screen.scss */
.menu .box-container .box .content .stars i, .menu .box-container .select2-hidden-accessible .content .stars i {
  font-size: 1.7rem;
  color: #eacf4f;
}
/* line 798, ../sass/screen.scss */
.menu .box-container .box .content h3, .menu .box-container .select2-hidden-accessible .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}
/* line 802, ../sass/screen.scss */
.menu .box-container .box .content .price, .menu .box-container .select2-hidden-accessible .content .price {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
}

/* line 810, ../sass/screen.scss */
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
/* line 816, ../sass/screen.scss */
.about .image {
  flex: 1 1 40rem;
}
/* line 819, ../sass/screen.scss */
.about .image img {
  width: 100%;
}
/* line 823, ../sass/screen.scss */
.about .img-details:hover {
  cursor: zoom-in;
  transform: scale(1.3);
}
/* line 828, ../sass/screen.scss */
.about .content {
  flex: 1 1 40rem;
}
/* line 830, ../sass/screen.scss */
.about .content .name {
  color: #eacf4f;
}
/* line 833, ../sass/screen.scss */
.about .content .title {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}
/* line 838, ../sass/screen.scss */
.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}
/* line 842, ../sass/screen.scss */
.about .content h1 {
  font-size: 7rem;
  color: #eacf4f;
  text-align: center;
  padding: 20px 0;
}
/* line 848, ../sass/screen.scss */
.about .content .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
/* line 855, ../sass/screen.scss */
.about .content .icons h3 {
  flex: 1 1 16rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #fff;
}
/* line 859, ../sass/screen.scss */
.about .content .icons h3 i {
  padding-right: .5rem;
  color: #eacf4f;
}

/* line 871, ../sass/screen.scss */
.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
/* line 874, ../sass/screen.scss */
.reviews .box-container .box, .reviews .box-container .select2-hidden-accessible {
  text-align: center;
  padding: 2rem;
}
/* line 878, ../sass/screen.scss */
.reviews .box-container .box img, .reviews .box-container .select2-hidden-accessible img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/* line 885, ../sass/screen.scss */
.reviews .box-container .box h3, .reviews .box-container .select2-hidden-accessible h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}
/* line 889, ../sass/screen.scss */
.reviews .box-container .box p, .reviews .box-container .select2-hidden-accessible p {
  font-size: 1.4rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}
/* line 894, ../sass/screen.scss */
.reviews .box-container .box .stars, .reviews .box-container .select2-hidden-accessible .stars {
  padding-top: .5rem;
}
/* line 897, ../sass/screen.scss */
.reviews .box-container .box .stars i, .reviews .box-container .select2-hidden-accessible .stars i {
  font-size: 1.7rem;
  color: #eacf4f;
}

/* line 906, ../sass/screen.scss */
.contact {
  padding: 0;
}
/* line 908, ../sass/screen.scss */
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
/* line 913, ../sass/screen.scss */
.contact .row .map {
  /* flex:1 1 40rem;
  width: 100%; */
  width: 100%;
  height: 550px;
}
/* line 921, ../sass/screen.scss */
.contact .row .form {
  flex: 1 1 40rem;
}
/* line 924, ../sass/screen.scss */
.contact .row .form .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}
/* line 930, ../sass/screen.scss */
.contact .row .form .icons-container .icons {
  flex: 1 1 17rem;
  text-align: center;
}
/* line 934, ../sass/screen.scss */
.contact .row .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #eacf4f;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* line 945, ../sass/screen.scss */
.contact .row .form .icons-container .icons h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}
/* line 950, ../sass/screen.scss */
.contact .row .form .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

/* line 963, ../sass/screen.scss */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
/* line 966, ../sass/screen.scss */
.blogs .box-container .box, .blogs .box-container .select2-hidden-accessible {
  position: relative;
}
/* line 970, ../sass/screen.scss */
.blogs .box-container .box:hover .image img, .blogs .box-container .select2-hidden-accessible:hover .image img {
  transform: scale(1.1);
}
/* line 973, ../sass/screen.scss */
.blogs .box-container .box:hover .image .icons, .blogs .box-container .select2-hidden-accessible:hover .image .icons {
  transform: translateY(0);
}
/* line 978, ../sass/screen.scss */
.blogs .box-container .box .image, .blogs .box-container .select2-hidden-accessible .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
/* line 983, ../sass/screen.scss */
.blogs .box-container .box .image .icons, .blogs .box-container .select2-hidden-accessible .image .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateY(10rem);
}
/* line 994, ../sass/screen.scss */
.blogs .box-container .box .image .icons a, .blogs .box-container .select2-hidden-accessible .image .icons a {
  font-size: 1.5rem;
  color: #fff;
}
/* line 998, ../sass/screen.scss */
.blogs .box-container .box .image .icons a i, .blogs .box-container .select2-hidden-accessible .image .icons a i {
  padding-right: .5rem;
  color: #eacf4f;
}
/* line 1003, ../sass/screen.scss */
.blogs .box-container .box .image .icons a:hover, .blogs .box-container .select2-hidden-accessible .image .icons a:hover {
  color: #eacf4f;
}
/* line 1009, ../sass/screen.scss */
.blogs .box-container .box .image img, .blogs .box-container .select2-hidden-accessible .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 1016, ../sass/screen.scss */
.blogs .box-container .box .content, .blogs .box-container .select2-hidden-accessible .content {
  text-align: center;
  padding: 2rem;
}
/* line 1020, ../sass/screen.scss */
.blogs .box-container .box .content h3, .blogs .box-container .select2-hidden-accessible .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}
/* line 1024, ../sass/screen.scss */
.blogs .box-container .box .content p, .blogs .box-container .select2-hidden-accessible .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1.5rem 0;
}

/* line 1033, ../sass/screen.scss */
.footer {
  text-align: center;
  background: linear-gradient(transparent, #000);
}
/* line 1038, ../sass/screen.scss */
.footer .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: #eacf4f;
  height: 30px;
  position: fixed;
  bottom: 5rem;
  text-decoration: none;
  right: 10px;
  width: 30px;
}
/* line 1053, ../sass/screen.scss */
.footer .links a i {
  font-size: 2rem;
}
/* line 1059, ../sass/screen.scss */
.footer .credit {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
  padding-top: 2rem;
}
/* line 1063, ../sass/screen.scss */
.footer .credit span {
  color: #eacf4f;
}

@media (max-width: 1200px) {
  /* line 1084, ../sass/screen.scss */
  .header {
    padding: 3rem;
  }

  /* line 1088, ../sass/screen.scss */
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  /* line 1096, ../sass/screen.scss */
  html {
    font-size: 55%;
  }

  /* line 1100, ../sass/screen.scss */
  .header {
    justify-content: flex-end;
    gap: 2rem;
  }
  /* line 1104, ../sass/screen.scss */
  .header #menu-btn {
    display: inline-block;
    font-size: 25px;
    margin-top: -8px;
  }
  /* line 1110, ../sass/screen.scss */
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 1s ease;
  }
  /* line 1117, ../sass/screen.scss */
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* line 1121, ../sass/screen.scss */
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
  }
  /* line 1126, ../sass/screen.scss */
  .header .navbar .space {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 1134, ../sass/screen.scss */
  .home .content h3 {
    font-size: 2.5rem;
  }

  /* line 1140, ../sass/screen.scss */
  body .form-container {
    height: 112vh;
  }
}
@media (max-width: 450px) {
  /* line 1148, ../sass/screen.scss */
  html {
    font-size: 50%;
  }
}
@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #ffc107, 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 40px #ffc107, 0 0 50px #ffc107, 0 0 60px #ffc107, 0 0 70px #ffc107, 0 0 90px #ffc107;
  }
  to {
    color: gray;
    text-shadow: 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 40px #ffc107, 0 0 50px #ffc107, 0 0 60px #ffc107, 0 0 70px #ffc107, 0 0 80px #ffc107, 0 1 90px #ffc107;
  }
}
/* line 1190, ../sass/screen.scss */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #eacf4f;
  color: #000;
}

/* line 1194, ../sass/screen.scss */
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #000;
  border-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

/* line 1206, ../sass/screen.scss */
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #000;
}

/* line 1214, ../sass/screen.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 28px;
}

/* line 1218, ../sass/screen.scss */
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 1px solid #aaa;
}

/* line 1226, ../sass/screen.scss */
.select2-container--default .select2-selection--single {
  font-size: 1.6rem;
  color: #fff;
  background: none;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  height: 49px;
  margin-top: 0px;
  border-radius: 0;
  display: flex;
  align-items: center;
}

/* line 1239, ../sass/screen.scss */
.select2 .select2-container .select2-container--default {
  width: 100%;
}

/* line 1244, ../sass/screen.scss */
.paiement {
  z-index: 100;
  background-color: #000;
  height: 75vh;
  position: relative;
  overflow: hidden;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  padding: 15px 25px;
  animation-name: modalOpen;
  animation-duration: 2s;
  box-shadow: #eacf4f 0px 0px 13px 0px;
  overflow-y: auto;
  max-width: 1000px;
  border-radius: 10px;
}
